<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/header.ejs") -%>
    <h1>Contact</h1>
    <p>
       <form class="" action="/" method="post">
         <label for="blogTitle">Title</label>
         <input class="form-control" type="text" name="blogTitle" value="">
         <label for="blogPost">Message</label>
         <textarea class="form-control" type="text" name="blogPost" value=""></textarea>
         <button class="btn btn-primary" type="submit" name="button">Post</button>
       </form>
    </p>
  <%- include("partials/footer.ejs") -%>
</html>
